.country-card {
  width: 100%;

  &.passport {
    background-image: url("./../../../../assets/passport.jpg");
    background-size: cover;
    background-blend-mode: luminosity;
  }

  .country-flag {
    background-size: 100% 100%;
    height: 40px;
    width: 60px;
    border-radius: 20%;
  }

  mat-card-subtitle,
  mat-card-title {
    mix-blend-mode: darken;
  }

  mat-card-actions {
    button {
      background-color: rgba(255, 255, 255, 0.349);
    }
  }
}
