$primary-palette: (
  50 : #e5e6e7,
  100 : #bfc1c4,
  200 : #94989d,
  300 : #696f76,
  400 : #485058,
  500 : #28313b,
  600 : #242c35,
  700 : #1e252d,
  800 : #181f26,
  900 : #0f1319,
  A100 : #5da2ff,
  A200 : #2a85ff,
  A400 : #0069f6,
  A700 : #005edc,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);


$accent-palette: (
  50: #e3f9ee,
  100: #b9f0d5,
  200: #8ae6b9,
  300: #5bdc9c,
  400: #38d587,
  500: #15cd72,
  600: #12c86a,
  700: #0fc15f,
  800: #0cba55,
  900: #06ae42,
  A100: #d9ffe4,
  A200: #a6ffc1,
  A400: #73ff9d,
  A700: #59ff8b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
