<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer #drawer mode="side" [opened]="!isMobile" position="end">
    <ng-template [ngTemplateOutlet]="drawerToggle" [ngTemplateOutletContext]="{icon:'close'}"></ng-template>
    <router-outlet></router-outlet>
  </mat-drawer>
  <mat-drawer-content>
    <ng-template *ngIf="!drawer.opened" [ngTemplateOutlet]="drawerToggle" [ngTemplateOutletContext]="{icon:'menu'}"></ng-template>
    <router-outlet name="leaflet-map"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #drawerToggle let-icon='icon'>
  <button mat-mini-fab color="primary" (click)="drawer.toggle()" class="drawer-toggle-btn">
    <mat-icon>{{ icon }}</mat-icon>
  </button>
</ng-template>

