.drawer-toggle-btn {
  position: absolute;
  margin: 5px;
  right: 0px;
  top: 0;
  z-index: 9999 !important;
}

mat-drawer {
  border: none !important;
  &.mat-drawer-opened {
    min-width: 30%;
    .drawer-toggle-btn {
      left: 0px;
    }
  }
}